<a href="https://colab.research.google.com/github/prakash-tech89/Data-Science/blob/master/Python/Hackathon/credit_card_fraud_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)


# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['credit_train.csv', 'credit_test.csv']

In [0]:
# Generic library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [0]:
train_df=pd.read_csv("../input/credit_train.csv")
test_df=pd.read_csv("../input/credit_test.csv")
#submission_df=pd.read_csv("../input/sample_submission.csv")

In [0]:
print("Train size : rows",train_df.shape[0]," and columns",train_df.shape[1])
print("Test size : rows",test_df.shape[0]," and columns",test_df.shape[1])
#print("Submission size : rows",submission_df.shape[0]," and columns",submission_df.shape[1])

Train size : rows 227845  and columns 30
Test size : rows 56962  and columns 30

In [0]:
train_df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount', 'Class'],
      dtype='object')

In [0]:
train_df.columns.difference(test_df.columns)

Index([], dtype='object')

In [0]:
train_df["source"] = "train"
test_df["source"] = "test"
df = pd.concat([train_df,test_df])

In [0]:
df.dtypes

V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class      object
source     object
dtype: object

In [0]:
df.shape

(284807, 31)

In [0]:
df.duplicated().sum()

7101

In [0]:
df.drop_duplicates(inplace=True)

In [0]:
df.duplicated().sum()

0

In [0]:
df.isna().sum()

V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
source    0
dtype: int64

In [0]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
V1,277706.0,-0.029554,1.954360,-56.407510,-0.936874,-0.041122,1.297485,2.454930
V2,277706.0,-0.001489,1.663922,-72.715728,-0.610029,0.069657,0.815974,22.057729
V3,277706.0,0.020827,1.508901,-48.325589,-0.852057,0.196684,1.043752,9.382558
V4,277706.0,-0.002778,1.421973,-5.683171,-0.859522,-0.030019,0.751625,16.875344
V5,277706.0,-0.010011,1.377634,-113.743307,-0.698811,-0.060230,0.603954,34.801666
V6,277706.0,-0.013453,1.315205,-26.160506,-0.766745,-0.272534,0.387290,73.301626
V7,277706.0,0.006748,1.239696,-43.557242,-0.552703,0.043854,0.580746,120.589494
V8,277706.0,-0.004858,1.191002,-73.216718,-0.209628,0.022482,0.322079,20.007208
V9,277706.0,-0.009322,1.100006,-13.434066,-0.655966,-0.061404,0.594373,15.594995
V10,277706.0,0.002300,1.087573,-24.588262,-0.538130,-0.092165,0.467122,23.745136
V11,277706.0,-0.005724,1.020625,-4.797473,-0.771169,-0.038284,0.736324,12.018913
V12,277706.0,-0.003688,0.998951,-18.683715,-0.411998,0.135329,0.616124,7.848392
V13,277706.0,0.000660,0.998963,-5.791881,-0.653342,-0.011646,0.667802,7.126883
V14,277706.0,0.000761,0.953629,-19.214325,-0.425776,0.049876,0.492325,10.526766
V15,277706.0,-0.008561,0.917119,-4.498945,-0.593609,0.038087,0.640543,8.877742
V16,277706.0,-0.003353,0.879244,-14.129855,-0.475574,0.062734,0.524449,17.315112
V17,277706.0,0.000460,0.845200,-25.162799,-0.482515,-0.063837,0.400852,9.253526
V18,277706.0,0.002925,0.840867,-9.498746,-0.498850,0.000430,0.506194,5.041069
V19,277706.0,0.000640,0.818943,-7.213527,-0.462928,0.001734,0.464486,5.591971
V20,277706.0,0.002659,0.777849,-54.497720,-0.211995,-0.059149,0.138287,39.420904
V21,277706.0,0.001880,0.732117,-34.830382,-0.225808,-0.026539,0.188424,27.202839
V22,277706.0,0.004552,0.726076,-10.933144,-0.534582,0.012011,0.532833,10.503090
V23,277706.0,-0.001494,0.630009,-44.807735,-0.164624,-0.013071,0.146111,22.528412
V24,277706.0,-0.005706,0.605298,-2.836627,-0.359663,0.038140,0.433631,4.584549
V25,277706.0,-0.003855,0.523483,-10.295397,-0.322158,0.011316,0.347762,7.519589
V26,277706.0,-0.000131,0.483786,-2.604551,-0.328074,-0.055475,0.243540,3.517346
V27,277706.0,0.001475,0.401737,-22.565679,-0.071561,0.002302,0.093885,31.612198
V28,277706.0,0.000695,0.332077,-15.430084,-0.052727,0.011670,0.080771,33.847808
Amount,277706.0,90.082456,252.478042,0.000000,6.140000,23.280000,79.207500,25691.160000

In [0]:
def split_dataframe(df,split_size):
    col_lst=df.columns.drop(["Class","source"]) 
    n=split_size
    final = [col_lst[i * n:(i + 1) * n] for i in range((len(col_lst) + n - 1) // n )] 
    return final

In [0]:
x=split_dataframe(df,5)
for i in x:
    print(i)

Index(['V1', 'V2', 'V3', 'V4', 'V5'], dtype='object')
Index(['V6', 'V7', 'V8', 'V9', 'V10'], dtype='object')
Index(['V11', 'V12', 'V13', 'V14', 'V15'], dtype='object')
Index(['V16', 'V17', 'V18', 'V19', 'V20'], dtype='object')
Index(['V21', 'V22', 'V23', 'V24', 'V25'], dtype='object')
Index(['V26', 'V27', 'V28', 'Amount'], dtype='object')

In [0]:
#sns.pairplot(data=df,vars=x[0],hue='Class')
#for i,col in enumerate(x):
    #plt.figure(i)
    #sns.pairplot(data=df,vars=col,hue='Class')

In [0]:
df.groupby('Class').mean()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
'0',-0.021788,-0.007393,0.032539,-0.010496,-0.004871,-0.011005,0.015772,-0.006482,-0.004972,0.011774,...,0.001957,0.001105,0.004402,-0.001329,-0.005535,-0.003931,-0.000218,0.001140,0.000566,90.023648
'1',-4.552357,3.437130,-6.800541,4.492046,-3.003442,-1.439303,-5.248943,0.940808,-2.543053,-5.515049,...,0.411604,0.453448,0.091984,-0.097745,-0.105379,0.040542,0.050387,0.196774,0.075849,124.333277

In [0]:
df.groupby('Class').median()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
'0',-0.037868,0.068064,0.199495,-0.032880,-0.059276,-0.271530,0.044931,0.022185,-0.059917,-0.091151,...,-0.059348,-0.026906,0.011970,-0.013003,0.038264,0.011127,-0.055612,0.002192,0.011631,23.300
'1',-2.272114,2.617845,-4.949563,4.146134,-1.394256,-1.421577,-2.926216,0.621508,-2.179119,-4.493399,...,0.285676,0.576441,0.056418,-0.075462,-0.060795,0.079108,0.010752,0.393510,0.145335,9.905

In [0]:
df['Class']=df['Class'].str.strip("'")

In [0]:
df['Class']=df['Class'].astype(int)

In [0]:
train_final = df[df.source=="train"]
test_final = df[df.source=="test"]

In [0]:
train_final.dtypes

V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class       int64
source     object
dtype: object

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
test_final.drop(['source','Class'], axis=1,inplace=True)
X = train_final.drop(['Class','source'], axis=1)
Y = train_final['Class']

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:4097: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [0]:
train_X, test_X, train_Y, test_Y = train_test_split(X, Y, test_size=0.2, random_state=1,stratify=Y)

In [0]:
test_result=test_final.copy(deep=True)
print(train_X.shape,test_X.shape,train_Y.shape,test_Y.shape,test_final.shape,test_result.shape)

(177157, 29) (44290, 29) (177157,) (44290,) (56259, 29) (56259, 29)

In [0]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score,precision_recall_curve, auc, roc_auc_score, roc_curve, recall_score,f1_score,precision_score
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import cross_val_score

model_metrics={}
def calc_metrics_and_predict(model,model_label,train_X,test_X,train_Y,test_Y,test_final, scaler,cv):
    if scaler is not None:
        # Scaling
        print("Scaling applied")
        train_X = scaler.fit_transform(train_X)
        test_X = scaler.transform(test_X)
    print("fit data")    
    model.fit(train_X, train_Y)
    print("predict data")
    yhat_train = model.predict(train_X)
    accuracy=accuracy_score(train_Y,yhat_train)
    f1_macro=f1_score(train_Y, yhat_train, average='macro') 
    f1_micro=f1_score(train_Y, yhat_train, average='micro') 
    f1_weighted=f1_score(train_Y, yhat_train, average='weighted')
    recall=recall_score(train_Y, yhat_train)
    precision=precision_score(train_Y, yhat_train)
    if cv==True:
        print("Cross-Validation score")
        scores = cross_val_score(model, train_X, train_Y, cv = 10,scoring='accuracy') 
        avg_cross_val_score = np.mean(np.sqrt(np.abs(scores)))
    else:
        avg_cross_val_score=None
    #avg_cross_val_score=0
    model_metrics[model_label]=[accuracy,f1_macro,f1_micro,f1_weighted,recall,precision,avg_cross_val_score]
    # Predict test data and add to test_result dataframe
    print(test_result.shape,test_final.shape)
    test_result[model_label] =  model.predict(test_final)
    print(test_result.shape,test_final.shape)
    return model_metrics

In [0]:
# Logistic regression
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression()
        
model_metrics=calc_metrics_and_predict(logistic_model,'logistic_reg',train_X,test_X,train_Y,test_Y,test_final,None,False)
model_metrics

fit data

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

predict data
(56259, 29) (56259, 29)
(56259, 30) (56259, 29)

{'logistic_reg': [0.9992661876188917,
  0.874816277268693,
  0.9992661876188917,
  0.9992070052705195,
  0.6456953642384106,
  0.8944954128440367,
  None]}

In [0]:
# Using KNN 
''''
from math import sqrt
from sklearn.neighbors import KNeighborsClassifier

y_train=np.ravel(train_Y)
y_test=np.ravel(test_Y)
accuracy_train_dict={}
accuracy_test_dict={}
df_len=round(sqrt(len(train_final)))
for k in range(3,7):
    K_value = k+1
    neigh = KNeighborsClassifier(n_neighbors = K_value, weights='uniform', algorithm='auto')
    neigh.fit(train_X, train_Y) 
    y_pred_train = neigh.predict(train_X)
    y_pred_test = neigh.predict(test_X)    
    train_accuracy=accuracy_score(train_Y,y_pred_train)*100
    test_accuracy=accuracy_score(test_Y,y_pred_test)*100
    accuracy_train_dict.update(({k:train_accuracy}))
    accuracy_test_dict.update(({k:test_accuracy}))
    print ("Accuracy for train :",train_accuracy ," and test :",test_accuracy,"% for K-Value:",K_value)
'''

'\'\nfrom math import sqrt\nfrom sklearn.neighbors import KNeighborsClassifier\n\ny_train=np.ravel(train_Y)\ny_test=np.ravel(test_Y)\naccuracy_train_dict={}\naccuracy_test_dict={}\ndf_len=round(sqrt(len(train_final)))\nfor k in range(3,7):\n    K_value = k+1\n    neigh = KNeighborsClassifier(n_neighbors = K_value, weights=\'uniform\', algorithm=\'auto\')\n    neigh.fit(train_X, train_Y) \n    y_pred_train = neigh.predict(train_X)\n    y_pred_test = neigh.predict(test_X)    \n    train_accuracy=accuracy_score(train_Y,y_pred_train)*100\n    test_accuracy=accuracy_score(test_Y,y_pred_test)*100\n    accuracy_train_dict.update(({k:train_accuracy}))\n    accuracy_test_dict.update(({k:test_accuracy}))\n    print ("Accuracy for train :",train_accuracy ," and test :",test_accuracy,"% for K-Value:",K_value)\n'

In [0]:
print(train_X.shape,test_X.shape,train_Y.shape,test_Y.shape,test_final.columns,test_result.columns)

(177157, 29) (44290, 29) (177157,) (44290,) Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount'],
      dtype='object') Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'logistic_reg'],
      dtype='object')

In [0]:
from sklearn.neighbors import KNeighborsClassifier
y_train=np.ravel(train_Y)
y_test=np.ravel(test_Y)
neigh = KNeighborsClassifier(n_neighbors =3 , weights='uniform', algorithm='auto')
#neigh.fit(train_X, train_Y)

#y_pred_train = neigh.predict(train_X)
#y_pred_test = neigh.predict(test_X)    
#y_pred_test_final = logistic_model.predict(train_X)
#y_pred_test_final
model_metrics=calc_metrics_and_predict(neigh,'K-NN',train_X,test_X,y_train,y_test,test_final,None,False)

fit data
predict data
(56259, 30) (56259, 29)
(56259, 31) (56259, 29)

In [0]:
# using Naive bayes
from sklearn.naive_bayes import GaussianNB
NB=GaussianNB()
model_metrics=calc_metrics_and_predict(NB,'Naive-Bayes',train_X,test_X,train_Y,test_Y,test_final,None,False)

fit data
predict data
(56259, 31) (56259, 29)
(56259, 32) (56259, 29)

In [0]:
## Boosting
import matplotlib.pyplot as plt
# Adaboost Classifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
dtree = DecisionTreeClassifier(criterion='gini',max_depth=1)

adabst_fit = AdaBoostClassifier(base_estimator= dtree,
        n_estimators=100,learning_rate=0.05,random_state=42)

model_metrics=calc_metrics_and_predict(adabst_fit,'Ada-Boosting',train_X,test_X,train_Y,test_Y,test_final,None,False)

fit data
predict data
(56259, 32) (56259, 29)
(56259, 33) (56259, 29)

In [0]:
# Gradientboost Classifier
from sklearn.ensemble import GradientBoostingClassifier

gbc_fit = GradientBoostingClassifier(loss='deviance',learning_rate=0.05,n_estimators=100,
                                     min_samples_split=2,min_samples_leaf=1,max_depth=1,random_state=42 )

model_metrics=calc_metrics_and_predict(gbc_fit,'Gradient-Boosting',train_X,test_X,train_Y,test_Y,test_final,None,False)

fit data
predict data
(56259, 33) (56259, 29)
(56259, 34) (56259, 29)

In [0]:
# Xgboost Classifier
import xgboost as xgb

xgb_fit = xgb.XGBClassifier(max_depth=2, n_estimators=100, learning_rate=0.05)

model_metrics=calc_metrics_and_predict(xgb_fit,'XG-Boosting',train_X,test_X,train_Y,test_Y,test_final,None,False)

fit data
predict data
(56259, 34) (56259, 29)
(56259, 35) (56259, 29)

In [0]:
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import GridSearchCV

# Choose the type of classifier. 
clf = DecisionTreeClassifier()


# Choose some parameter combinations to try
parameters = {'max_features': ['log2', 'sqrt','auto'], 
              'criterion': ['entropy', 'gini'],
              'max_depth': [i for i in range(1,20)], 
              'min_samples_split': [i for i in range(2,10)],
              'min_samples_leaf': [i for i in range(2,10)]
             }

model_metrics=calc_metrics_and_predict(clf,'Decision-Tree',train_X,test_X,train_Y,test_Y,test_final,None,False)

fit data
predict data
(56259, 35) (56259, 29)
(56259, 36) (56259, 29)

In [0]:
# using Naive Bayes
from sklearn.svm import SVC
def fit_predict(train, test, y_train, y_test, scaler, kernel = 'linear', C = 1.0, degree = 3):
    train_scaled = scaler.fit_transform(train)
    test_scaled = scaler.transform(test)        
    lr = SVC(kernel = kernel, degree = degree, C = C)
    lr.fit(train_scaled, y_train)
    y_pred = lr.predict(test_scaled)
    print(accuracy_score(y_test, y_pred))

In [0]:
y_train=np.ravel(train_Y)
y_test=np.ravel(test_Y)
for kernel in ['linear', 'poly', 'rbf', 'sigmoid']:
    print('Accuracy score using {0} kernel:'.format(kernel), end = ' ')
    fit_predict(train_X,test_X,train_Y,test_Y, StandardScaler(), kernel)

Accuracy score using linear kernel: 0.9993678031158275
Accuracy score using poly kernel: 0.9993226461955295
Accuracy score using rbf kernel: 0.9992097538947844
Accuracy score using sigmoid kernel: 0.9983517724091217

In [0]:
for с in np.logspace(-1,3 ,base = 2, num = 6):
    print('Accuracy score using penalty = {0} with rbf kernel:'.format(с), end = ' ')
    fit_predict(train_X,test_X,train_Y,test_Y, StandardScaler(), 'poly', с)

Accuracy score using penalty = 0.5 with rbf kernel: 0.9993452246556784
Accuracy score using penalty = 0.8705505632961241 with rbf kernel: 0.9993452246556784
Accuracy score using penalty = 1.5157165665103982 with rbf kernel: 0.9993226461955295
Accuracy score using penalty = 2.6390158215457893 with rbf kernel: 0.9992774892752314
Accuracy score using penalty = 4.59479341998814 with rbf kernel: 0.9993452246556784
Accuracy score using penalty = 8.0 with rbf kernel: 0.9992774892752314

In [0]:
for degree in range(2, 6):
    print('Accuracy score using degree = {0} with poly kernel:'.format(degree), end = ' ')
    fit_predict(train_X,test_X,train_Y,test_Y, StandardScaler(), 'poly', 1.5, degree = degree)

Accuracy score using degree = 2 with poly kernel: 0.9993903815759765
Accuracy score using degree = 3 with poly kernel: 0.9993226461955295
Accuracy score using degree = 4 with poly kernel: 0.9994355384962745
Accuracy score using degree = 5 with poly kernel: 0.9992774892752314

In [0]:
lr = SVC(kernel ='poly' , degree =4 , C =0.5 )

In [0]:
model_metrics=calc_metrics_and_predict(lr,'SVM',train_X,test_X,train_Y,test_Y,test_final,StandardScaler(),False)

Scaling applied
fit data
predict data
(56259, 36) (56259, 29)
(56259, 37) (56259, 29)

In [0]:
# Baseline model for the neural network. We choose a hidden layer of 10 neurons. The lesser number of neurons helps to eliminate the redundancies in the data and select the more important features.
def create_baseline():
    # create model
    model = Sequential()
    model.add(Dense(10, input_dim=29, kernel_initializer='normal', activation='relu'))
    model.add(Dense(1, kernel_initializer='normal', activation='sigmoid'))
    # Compile model. We use the the logarithmic loss function, and the Adam gradient optimizer.
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

In [0]:
# Importing libraries for building the neural network
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline

Using TensorFlow backend.
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/conda/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/opt/conda/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/opt/conda/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/opt/conda/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/opt/conda/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/opt/conda/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/opt/conda/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [0]:
from sklearn.preprocessing import LabelEncoder
# Diagnosis values are strings. Changing them into numerical values using LabelEncoder.
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)
encoded_Y.shape

(221447,)

In [0]:
estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasClassifier(build_fn=create_baseline, epochs=20, batch_size=100, verbose=0)))
pipeline = Pipeline(estimators)
kfold = StratifiedKFold(n_splits=5, shuffle=True)
results = cross_val_score(pipeline, X, encoded_Y, cv=kfold)
print("Results: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Results: 99.94% (0.01%)

In [0]:
keras_model=estimators[1][1]
keras_model

In [0]:
#keras_model.fit

model_metrics=calc_metrics_and_predict(keras_model,'Keras',train_X,test_X,train_Y,test_Y,test_final,None,False)

fit data
predict data
(56259, 37) (56259, 29)
(56259, 38) (56259, 29)

In [0]:
index=['accuracy','f1_macro','f1_micro','f1_weighted','recall','precision','avg_cross_val_score']
index

['accuracy',
 'f1_macro',
 'f1_micro',
 'f1_weighted',
 'recall',
 'precision',
 'avg_cross_val_score']

In [0]:
model_comparison_df=pd.DataFrame(index=index).from_dict(model_metrics)
model_comparison_df

,logistic_reg,K-NN,Naive-Bayes,Ada-Boosting,Gradient-Boosting,XG-Boosting,Decision-Tree,SVM,Keras
0,0.999266,0.999509,0.978070,0.999153,0.998301,0.999458,1.0,0.999791,0.999520
1,0.874816,0.919767,0.551259,0.848578,0.502875,0.914150,1.0,0.967320,0.924659
2,0.999266,0.999509,0.978070,0.999153,0.998301,0.999458,1.0,0.999791,0.999520
3,0.999207,0.999481,0.987406,0.999061,0.997458,0.999437,1.0,0.999784,0.999504
4,0.645695,0.754967,0.824503,0.572848,0.003311,0.768212,1.0,0.877483,0.794702
5,0.894495,0.946058,0.061014,0.891753,1.000000,0.899225,1.0,1.000000,0.912548
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN